// Buttons

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid $light-gray;
  padding: 0.5em;
  @include transition(500ms);
  border-radius: 0.5em;
}

.btn-light {
  background-color: $white !important;
  color: $silver !important;
  border: 1px solid $white !important;
}

.btn-light:hover {
  background-color: $silver !important;
  color: $white !important;
  border: 1px solid $silver !important;
}

.button-area {
  display: flex;
  justify-content: flex-end;

  & > .button-groups {
    display: flex;
    margin-left: 0.5em;

    #z_out {
      border-right: 2px solid $gray !important;
    }

    #z_in {
      border-left: 2px solid $gray !important;
    }
  }
}

.btn-primary {
  background-color: $blue !important;
  color: $white !important;
  border: 1px solid $blue !important;
}

.btn-primary-outline {
  background-color: $white !important;
  color: $black !important;

  &:hover {
    background-color: $blue !important;
    color: $white !important;
  }
}
